-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: db-formulir
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `value` mediumtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `owner` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `expiration` bigint NOT NULL,
  PRIMARY KEY (`key`),
  KEY `cache_locks_expiration_index` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `categories_name_unique` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
INSERT INTO `categories` VALUES (2,'UMUM','2026-07-01 20:38:24','2026-07-01 20:38:24');
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `connection` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `queue` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `exception` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`),
  KEY `failed_jobs_connection_queue_failed_at_index` (`connection`,`queue`,`failed_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_cctv_items`
--

DROP TABLE IF EXISTS `form_cctv_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_cctv_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `form_cctv_id` bigint unsigned NOT NULL,
  `no` int DEFAULT NULL,
  `tanggal` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jenis_kegiatan` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `keterangan` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `paraf` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `form_cctv_items_form_cctv_id_foreign` (`form_cctv_id`),
  CONSTRAINT `form_cctv_items_form_cctv_id_foreign` FOREIGN KEY (`form_cctv_id`) REFERENCES `form_cctvs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=623 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_cctv_items`
--

LOCK TABLES `form_cctv_items` WRITE;
/*!40000 ALTER TABLE `form_cctv_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `form_cctv_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_cctvs`
--

DROP TABLE IF EXISTS `form_cctvs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_cctvs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `no_ref` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `business_area` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `id_cctv` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lokasi` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mengetahui_nama` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mengetahui_nipp` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mengetahui_jabatan` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `kota_tanggal` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_cctvs`
--

LOCK TABLES `form_cctvs` WRITE;
/*!40000 ALTER TABLE `form_cctvs` DISABLE KEYS */;
INSERT INTO `form_cctvs` VALUES (13,'01/02/2020','2026-07-03','hamid','CCTV-2','Kantor Daop - SDM','Hamid Sabirin','15432','Manajer','2026-07-02 23:49:56','2026-07-06 06:45:52','3 Juli 2026'),(14,'12345','2026-07-05','B060','CCTV-3','SEKRE','Hamid','12345','Staff Sistem Informasi','2026-07-05 19:16:54','2026-07-06 06:41:12','5 Juli 2026'),(17,'12324356','2026-07-06','B060','CCTV-5','SATPAM','Hamid','12345','Staff Sistem Informasi','2026-07-05 20:24:50','2026-07-06 06:41:12','06 Juli 2026');
/*!40000 ALTER TABLE `form_cctvs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_pemeliharaan_items`
--

DROP TABLE IF EXISTS `form_pemeliharaan_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_pemeliharaan_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `form_pemeliharaan_id` bigint unsigned NOT NULL,
  `master_perangkat_id` bigint unsigned DEFAULT NULL,
  `pekerjaan` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `permasalahan` text COLLATE utf8mb4_unicode_ci,
  `solusi` text COLLATE utf8mb4_unicode_ci,
  `keterangan` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `form_pemeliharaan_items_form_pemeliharaan_id_foreign` (`form_pemeliharaan_id`),
  KEY `form_pemeliharaan_items_master_perangkat_id_foreign` (`master_perangkat_id`),
  CONSTRAINT `form_pemeliharaan_items_form_pemeliharaan_id_foreign` FOREIGN KEY (`form_pemeliharaan_id`) REFERENCES `form_pemeliharaans` (`id`) ON DELETE CASCADE,
  CONSTRAINT `form_pemeliharaan_items_master_perangkat_id_foreign` FOREIGN KEY (`master_perangkat_id`) REFERENCES `master_perangkats` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_pemeliharaan_items`
--

LOCK TABLES `form_pemeliharaan_items` WRITE;
/*!40000 ALTER TABLE `form_pemeliharaan_items` DISABLE KEYS */;
INSERT INTO `form_pemeliharaan_items` VALUES (3,1,6,'Maintenance','Sudah berumur','Diganti dengan yang baru','AP New 2026','2026-07-08 00:37:30','2026-07-08 00:37:30'),(4,1,8,'Maintenance','Penuh','Membeli yang baru','Server New 2026','2026-07-08 00:37:30','2026-07-08 00:37:30'),(5,1,5,'Perbaikan','Jebol','Menyewa jasa hacker','Blablabla','2026-07-08 00:37:30','2026-07-08 00:37:30');
/*!40000 ALTER TABLE `form_pemeliharaan_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_pemeliharaans`
--

DROP TABLE IF EXISTS `form_pemeliharaans`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_pemeliharaans` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `no_ref` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `business_area` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `lokasi` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jenis_pemeliharaan` enum('Terencana','Tak Terencana') COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bulan_pemeliharaan` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `catatan` text COLLATE utf8mb4_unicode_ci,
  `petugas_name` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `petugas_nipp` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mengetahui_id` bigint unsigned DEFAULT NULL,
  `status` enum('draft','dicetak','selesai') COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'draft',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `form_pemeliharaans_mengetahui_id_foreign` (`mengetahui_id`),
  CONSTRAINT `form_pemeliharaans_mengetahui_id_foreign` FOREIGN KEY (`mengetahui_id`) REFERENCES `master_signers` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_pemeliharaans`
--

LOCK TABLES `form_pemeliharaans` WRITE;
/*!40000 ALTER TABLE `form_pemeliharaans` DISABLE KEYS */;
INSERT INTO `form_pemeliharaans` VALUES (1,'001/MAINT/VII/2026','2026-07-08','DAOP 6 Yogyakarta','Stasiun Lempuyangan','Terencana','Juli 2026','Maintenance peralatan','Budi Sudarsono','2311102100',4,'draft','2026-07-07 23:41:05','2026-07-07 23:41:05');
/*!40000 ALTER TABLE `form_pemeliharaans` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_revocation_items`
--

DROP TABLE IF EXISTS `form_revocation_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_revocation_items` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `form_revocation_id` bigint unsigned NOT NULL,
  `no` int DEFAULT NULL,
  `nama_pengguna` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jenis_akun` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `unit_kerja` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `alasan` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `form_revocation_items_form_revocation_id_foreign` (`form_revocation_id`),
  CONSTRAINT `form_revocation_items_form_revocation_id_foreign` FOREIGN KEY (`form_revocation_id`) REFERENCES `form_revocations` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_revocation_items`
--

LOCK TABLES `form_revocation_items` WRITE;
/*!40000 ALTER TABLE `form_revocation_items` DISABLE KEYS */;
INSERT INTO `form_revocation_items` VALUES (3,3,0,'Agus Pratama - 53421','tes','tes','tes','2026-07-07 00:01:57','2026-07-07 00:27:09'),(4,4,0,'Budi Santoso - 12345','ty','ty','ty','2026-07-07 00:02:20','2026-07-07 00:26:14');
/*!40000 ALTER TABLE `form_revocation_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_revocations`
--

DROP TABLE IF EXISTS `form_revocations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_revocations` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `no_ref` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal` date DEFAULT NULL,
  `business_area` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_permohonan` date DEFAULT NULL,
  `nama_pemohon` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nip_pemohon` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `bagian_fungsi` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kota_tanggal_pemohon` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status_persetujuan` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kota_tanggal_setuju` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mengetahui_nama` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jabatan_mengetahui` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_revocations`
--

LOCK TABLES `form_revocations` WRITE;
/*!40000 ALTER TABLE `form_revocations` DISABLE KEYS */;
INSERT INTO `form_revocations` VALUES (3,'123','2026-07-07','B060','2026-07-07','Agus Pratama','53421','tes','07 - Juli - 2026','DISETUJUI','07 - Juli - 2026','hamid','Manajemen Puncak','2026-07-07 00:01:57','2026-07-07 00:27:09'),(4,'321','2026-07-07','B060','2026-07-07','Budi Santoso','12345','tes','07 - Juli - 2026','DISETUJUI','07 - Juli - 2026','hamid','Manajemen Puncak','2026-07-07 00:02:20','2026-07-07 00:26:14');
/*!40000 ALTER TABLE `form_revocations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `form_templates`
--

DROP TABLE IF EXISTS `form_templates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `form_templates` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `kategori` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `route_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `no_dokumen` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tanggal_dokumen` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `versi_dokumen` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `form_templates`
--

LOCK TABLES `form_templates` WRITE;
/*!40000 ALTER TABLE `form_templates` DISABLE KEYS */;
INSERT INTO `form_templates` VALUES (1,'Pemeliharaan CCTV','Umum','form-cctv.index','FR.SM/TI/015.013/10-2020','12 Oktober 2020','002-2020','2026-07-06 06:11:30','2026-07-06 06:38:59'),(2,'Permohonan Pencabutan Hak Akses','Public','form-pencabutan-hak-akses.index','FR.SM/TI/011/02-2020','10 Februari 2020','001-2020','2026-07-06 06:11:30','2026-07-06 06:11:30'),(3,'Checklist Pemeliharaan Perangkat Jaringan','Terbatas','form-pemeliharaan.index','FR.SM/TI/015.015/07-2026','01 Juli 2026','001-2026','2026-07-07 18:46:45','2026-07-07 19:35:09');
/*!40000 ALTER TABLE `form_templates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `total_jobs` int NOT NULL,
  `pending_jobs` int NOT NULL,
  `failed_jobs` int NOT NULL,
  `failed_job_ids` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `options` mediumtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `cancelled_at` int DEFAULT NULL,
  `created_at` int NOT NULL,
  `finished_at` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `jobs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `attempts` smallint unsigned NOT NULL,
  `reserved_at` int unsigned DEFAULT NULL,
  `available_at` int unsigned NOT NULL,
  `created_at` int unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_cctvs`
--

DROP TABLE IF EXISTS `master_cctvs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_cctvs` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `id_cctv` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `lokasi` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_cctvs`
--

LOCK TABLES `master_cctvs` WRITE;
/*!40000 ALTER TABLE `master_cctvs` DISABLE KEYS */;
INSERT INTO `master_cctvs` VALUES (4,'CCTV-2','Kantor Daop - SDM','2026-07-02 23:29:43','2026-07-05 19:48:02'),(5,'CCTV-3','SEKRE','2026-07-02 23:29:58','2026-07-02 23:29:58'),(6,'CCTV-4','BENDAHARA','2026-07-02 23:30:07','2026-07-02 23:30:07'),(7,'CCTV-5','SATPAM','2026-07-02 23:30:18','2026-07-02 23:30:18'),(8,'CCTV-6','PARKIRAN','2026-07-02 23:30:26','2026-07-02 23:30:26'),(9,'CCTV-1','Hamid','2026-07-02 23:52:30','2026-07-05 19:36:35'),(10,'CCTV-X1','Stasiun Tugu','2026-07-05 21:29:54','2026-07-05 21:29:54'),(12,'CCTV-X2','Ruang Server','2026-07-05 22:05:18','2026-07-05 22:05:18');
/*!40000 ALTER TABLE `master_cctvs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_pemohons`
--

DROP TABLE IF EXISTS `master_pemohons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_pemohons` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama_pemohon` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nip_pemohon` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_pemohons`
--

LOCK TABLES `master_pemohons` WRITE;
/*!40000 ALTER TABLE `master_pemohons` DISABLE KEYS */;
INSERT INTO `master_pemohons` VALUES (1,'Budi Santoso','12345','2026-07-07 00:01:24','2026-07-07 00:26:14'),(2,'Siti Aminah','23451','2026-07-07 00:01:24','2026-07-07 00:26:24'),(3,'Andi Wijaya','34512','2026-07-07 00:01:24','2026-07-07 00:26:35'),(4,'Rina Melati','45123','2026-07-07 00:01:24','2026-07-07 00:26:42'),(5,'Hendra Gunawan','51234','2026-07-07 00:01:24','2026-07-07 00:26:50'),(6,'Dewi Lestari','54321','2026-07-07 00:01:24','2026-07-07 00:27:02'),(7,'Agus Pratama','53421','2026-07-07 00:01:24','2026-07-07 00:27:09');
/*!40000 ALTER TABLE `master_pemohons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_perangkats`
--

DROP TABLE IF EXISTS `master_perangkats`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_perangkats` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `kode_aset` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `jenis_perangkat` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `deskripsi` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `master_perangkats_kode_aset_unique` (`kode_aset`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_perangkats`
--

LOCK TABLES `master_perangkats` WRITE;
/*!40000 ALTER TABLE `master_perangkats` DISABLE KEYS */;
/*!40000 ALTER TABLE `master_perangkats` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `master_signers`
--

DROP TABLE IF EXISTS `master_signers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `master_signers` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `nama` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `nipp` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `jabatan` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `master_signers`
--

LOCK TABLES `master_signers` WRITE;
/*!40000 ALTER TABLE `master_signers` DISABLE KEYS */;
INSERT INTO `master_signers` VALUES (1,'Hamid Sabirin','15432','Manajer','2026-07-02 23:14:13','2026-07-06 06:45:52'),(2,'Qonita Rahayu Atmi','13245','Asisten Manager Support 1','2026-07-02 23:16:34','2026-07-06 06:46:07'),(3,'Qonita','12324','Manajer SI','2026-07-02 23:24:55','2026-07-05 20:45:19'),(4,'Hamid','12345','Staff Sistem Informasi','2026-07-02 23:25:01','2026-07-06 06:41:12'),(5,'wqer','12',NULL,'2026-07-02 23:25:06','2026-07-02 23:25:06'),(6,'we','12354','Asisten Manager Support 2','2026-07-02 23:25:12','2026-07-06 06:46:15');
/*!40000 ALTER TABLE `master_signers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `batch` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `user_agent` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `remember_token` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'Test User','test@example.com','2026-07-06 23:51:49','$2y$12$zZwRXJGqPNYYHQZkxeYALeUR8HC1nzhoEU6zoEJd5Q8IEHr2EDwy6','HBUjCXmfq2','2026-07-06 23:51:50','2026-07-06 23:51:50');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-08 15:05:00
